---
import ContactButtons from "../components/ContactButtons";
import Layout from "../layouts/Layout.astro";
import { marked } from "marked";

const response = await fetch(
  "https://api-eu-west-2.hygraph.com/v2/clqmge7q8kbx401tc86j616yq/master",
  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
          contact(where:{id: "clqmwiwdcfu220bla029ypgl2"}) {
            introText
          }
        }
      `,
    }),
  }
);

const data = await response.json();
const introText = marked.parse(data.data.contact.introText);
---

<Layout title="Spring Bank Science | Contact">
  <form
    netlify
    netlify-honeypot
    name="feedback"
    method="POST"
    action="/success"
  >
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <input type="hidden" name="form-name" value="feedback" />
    <label for="name">Name</label>
    <input id="name" type="text" name="name" />
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required />
    <label for="feedback">What is your feedback?</label>
    <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
    <button type="submit">Submit</button>
  </form>
  <main class="px-6 py-10 text-light text-lg">
    <div set:html={introText} />
    <ContactButtons client:load phoneNumber="765432765437" />
  </main>
</Layout>

<style is:global>
  h1 {
    font-size: 26px;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    /* color: #f3f2f7; */
  }
</style>
